# Python
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Logs
logs/
server/logs/
*.log

# Virtual Environments
venv/
.venv/
env/

# Environment Files
.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db